    <div class="container">
        <h1>{{avenger.name}}</h1>
        <h3>Details</h3>
        <div><span>appearances: </span>{{avenger.appearances}}</div>
        <div><span>current: </span>{{avenger.current}} <span></span><button (click)="isCurrent(avenger)">IS ACTIVE</button></div>
        <div><span>gender: </span>{{avenger.gender}}</div>
        <div><span>year: </span>{{avenger.year}}</div>
        <div><span>Years Since Joining: </span>{{avenger.yearsSinceJoining}}</div>
        <div><span>honorary: </span>{{avenger.honorary}}</div>
        <div><span>notes: </span>{{avenger.notes}}</div>
        <a routerLink="/home">BACK</a>
    </div>

   

