    
    <div *ngIf = "avenger" class="container">
        <h1>{{avenger.name | uppercase}}</h1>
        <h3>Details</h3>
        <div><span>APPEARANCES: </span>{{avenger.appearances}}</div>
        <div><span>CURRENT: </span>{{avenger.current}} <span></span><button class="btn btn-secondary" (click)="isCurrent(avenger)">IS ACTIVE</button></div>
        <div><span>GENDER: </span>{{avenger.gender}}</div>
        <div><span>YEAR: </span>{{avenger.year}}</div>
        <div><span>YEARS SINCE JOINING: </span>{{avenger.yearsSinceJoining}}</div>
        <div><span>HONORARY: </span>{{avenger.honorary}}</div>
        <div><span>NOTES: </span>{{avenger.notes}}</div>
        <button class="btn btn-primary" [routerLink]="['/edit',avenger.id]">Edit Information</button> 

        
    </div>

   

