<div class="container">
  <div class="row">
    <div class="col-6">
      <h1 class="row justify-content-md-center">AVENGERS</h1>
      <button class="btn btn-outline-success" style ="margin-left: 2em;" routerLink="/newAvenger">ADD NEW AVENGER</button>
      <ul class="heroes">
        <li *ngFor="let avenger of avengers" style="list-style-type: none">
          <h3 class= "col-12"><a [href] = 'avenger.url'>{{avenger.name}} </a></h3>
          <button class="btn btn-info col-6" (click)="onSelect(avenger)">More Info</button>
          <button class = "btn btn-danger col-6" (click)="delete(avenger)">DELETE</button>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <app-avenger-detail id="info" [avenger] = "avenger"></app-avenger-detail>
    </div>
  </div>
</div>